.profile-page-outer-wrapper{
    width: 100%;
    max-width: 126.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.2rem auto;
    padding: 0 3.2rem;
    box-sizing: border-box;
    height: fit-content;
}

.profile-page-wrapper-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-page-title{
    font-size: 4.8rem;
    margin: 0;
}