.profile-page-outer-wrapper{
    width: 100%;
    max-width: 1264px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px auto;
    padding: 0 32px;
    box-sizing: border-box;
    height: fit-content;
}

.profile-page-wrapper-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-page-title{
    font-size: 48px;
    margin: 0;
}