.browser-page{
    display: flex;
    width: 90vw;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.browse-page-res-text{
    text-align: left;
    width: 100%;
    margin: 0;
    margin-top: 2.4rem;
    margin-bottom: 0rem;
    max-width: 120rem;
    font-size: 2.2rem;
}

.browse-page-no-search{
    width: 100% !important;
    max-width: 120rem !important;
    margin-top: -0.4rem !important;
}