.listing-page-wrapper-outer{
    width: 100%;
    max-width: 126.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.2rem auto;
    padding: 0 3.2rem;
    box-sizing: border-box;
    height: fit-content;
}

.listing-page-wrapper-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.new-listing-page-title{
    font-size: 4.8rem;
    font-weight: bold;
    margin: 0;
}

.new-listing-photo-upload{
    padding: 3.2rem 0;
    display: flex;
    width: 100%;
}

.new-listing-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.4rem;
}

.new-listing-image-label{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem dotted black;
    border-radius: 0.8rem;
    width: 100%;
    height: 16rem;
    cursor: pointer;
    font-size: large;
}

.new-listing-image-label > span {
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
}

.new-listing-image-input{
    display: none;
}

.new-listing-form-inputs{
    width: 100%;
    display: flex;
    height: fit-content;
}

.new-listing-form-inputs-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.new-listing-form-inputs-right{
    width: 50%;
    
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.new-listing-input-label{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    margin-top: 2.4rem;
}

.new-listing-input-field{
    padding: 0;
    width: 100%;
    border: 0;
    border-bottom: 0.1rem solid gray;;
    outline: 0;
    font-size: 1.6rem;
    padding: 0.4rem;
    border-radius:0.4rem;
}

.new-listing-input-field-textarea{
    width: 100%;
    height: 12rem;
    border-radius: 0.4rem;
    resize: none;
    font-size: 1.6rem;
    box-sizing: border-box;
    padding: 0.8rem 0.4rem;
    margin-top: 0.4rem;
    outline: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 0.1rem solid gray;
}

.new-listing-input-select{
    width: 100%;
    height: 3.2rem;
    padding: 0.4rem 0;
    box-sizing: border-box;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    margin-top: 0.4rem;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-bottom: 0.1rem solid gray;;
}

option{
    height: 2.4rem;
    font-size: 1.6rem;
    height: 0.8rem;
}

.divider{
    width: 12rem;
}

.new-listing-submit{
    width: 100%;
    height: 5.2rem;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: gold;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 200ms;
}

.new-listing-submit:hover{
    cursor: pointer;
    transition: 200ms;
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.75);
}



.red{
    color: red;
}

.new-listing-selected-images-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    max-width: 120rem;
    justify-content:flex-start;
    margin-top: 3.6rem;
    gap: 0.8rem;
}

.new-listing-selected-image{
    display: flex;
    flex-direction: column;
}


.new-listing-selected-image > img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.new-listing-selected-image > button{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0.8rem 0;
    cursor: pointer;
}

.new-listing-image-info{
    margin: 0;
    margin-bottom: -2.4rem;
}

.normalise{
    font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
    .listing-page-wrapper-inner{
        width: 90vw;
    }
    .new-listing-page-title{
        width: 90vw;
        display: block;
    }
    .new-listing-form-inputs{
        flex-direction: column;
        width: 90vw;
    }
    .new-listing-form-inputs-left, .new-listing-form-inputs-right{
        width: 100%;
    }


    .new-listing-selected-images-container{
        grid-template-columns: repeat(4, 1fr);
    }
}