.page-home-container{
    width: 100%;
    max-width: 126.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.2rem auto;
    padding: 0 3.2rem;
    box-sizing: border-box;
    height: fit-content;
    margin-bottom: 0;
}

.image-slideshow-container{
    width: 100%;
    height: 30rem;
    margin: 0 auto;
    contain: content;   
    border-radius: 1.6rem;
    z-index: 0;
}

.slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    transform: scale(1);
    transition: 200ms;
}

/*.slider-img:hover{
    transform: scale(1.1);
    transition: 200ms;
}*/

.image-text{
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 4.8rem;
    text-align: center;    
    width: 100%;
    transition: 200ms;
    text-shadow: 0 0 1.6rem black;
}

@media screen and (max-width: 768px){
    .page-home-container{
        padding: 0 0;
        width: 90vw;
        margin: 2.4rem auto;
    }
    .image-slideshow-container{
        height: 20rem;
    }
    .slider-img{
        height: 20rem;
    }
}