.loading-page{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-square{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-icon{
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: gold;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    will-change: transform;
}

@keyframes spinner{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}