.product-page-container {
    max-width: 126.4rem;
    padding: 3.2rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.product-outer-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-top: 3.6rem;
}

.product-images {
    height: fit-content !important;
    width: 30%;
}

.carousel .slide img {
    pointer-events: all !important;
}

.product-info {
    width: 50%;
    height: fit-content;
}

.product-title {
    font-size: 3.6rem;
    font-weight: bold;
    margin: 0;

}

.product-detail-div {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    white-space: pre-wrap;
}

.product-details>p {
    margin: 0.4rem 0;
}

.product-contact>p {
    margin: 0.4rem 0;
}

.product-price {
    margin: 0;
    margin-top: 1.2rem;
    font-size: 3.6rem;
    font-weight: bold;


}

.product-add-to-favs{
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
    font-weight: bold;
    width: fit-content;
    color: gray;
    font-size: 1.6rem;
    margin-right: 1.2rem;
}

.product-add-to-favs.profile-click:hover{
    color: black;
}

.product-add-to-favs:hover{
    color: gold;
    cursor: pointer;
}

.gold{
    color: gold !important;
}

.product-add-to-favs > p{
    margin: 0;
    margin-left: 0.4rem;
}

.product-desc{
    white-space: pre-line;
    font-size: 1.6rem;
}

.product-inline{
    display: flex;
    flex-wrap: wrap;
}

.report-click:hover{
    color: red;
}

@media screen and (max-width: 768px) {
    .product-page-container {
        width: 90vw;
        padding: 0;
    }

    .product-add-to-favs{
        font-size: 1.6rem;
        margin-top: 0.8rem;
    }
    .profile-click{
        margin-top: 0.8rem;
    }

    .product-outer-wrapper {
        flex-direction: column;
        padding: 0;
        width: 90vw;
        margin-bottom: 3.6rem;
    }

    .product-images {
        width: 90vw;
        margin-top: -1.8rem;
    }

    .product-title{
        line-height: 4.2rem;
        margin-bottom: 0.8rem;
    }

    .product-info {
        width: 100%;
        font-size: 1.6rem;
    }

    .product-detail-div {
        flex-direction: column;
    }

    .product-details>p {
        margin: 0;
        margin-top: 0.8rem;
        font-size: 1.6rem;
    }

    .product-contact>p {
        margin-top: 0.8rem;
        font-size: 1.6rem;
    }

    .product-price {
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: right;
        border-radius: 0.4rem;
        padding: 0.8rem 1.2rem;
        font-size: 3.6rem;
        margin-top: 2.4rem;
    }

    .product-inline{
        flex-direction: column;
    }
}