.product-page-container {
    max-width: 1264px;
    padding: 32px;
    box-sizing: border-box;
    margin: 0 auto;
}

.product-outer-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-top: 36px;
}

.product-images {
    height: 100%;
    width: 30%;
}

.product-info {
    width: 50%;
    height: fit-content;
}

.product-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;

}

.product-detail-div {
    display: flex;
    justify-content: space-between;
    white-space: pre-wrap;
}

.product-details>p {
    margin: 4px 0;
}

.product-contact>p {
    margin: 4px 0;
}

.product-price {
    margin: 0;
    margin-top: 12px;
    font-size: 36px;
    font-weight: bold;
}

.product-add-to-favs{
    display: flex;
    align-items: center;
    margin-top: 4px;
    font-weight: bold;
    width: fit-content;
    color: gray;
    font-size: 16px;
    margin-right: 12px;
}

.product-add-to-favs.profile-click:hover{
    color: black;
}

.product-add-to-favs:hover{
    color: rgb(217, 188, 26);
    cursor: pointer;
}

.gold{
    color: rgb(217, 188, 26);
}

.product-add-to-favs > p{
    margin: 0;
    margin-left: 4px;
}

.product-desc{
    white-space: pre-line;
}

.product-inline{
    display: flex;
    flex-wrap: wrap;
}

.report-click:hover{
    color: red;
}

@media screen and (max-width: 768px) {
    .product-page-container {
        width: 90vw;
        padding: 0;
    }

    .product-add-to-favs{
        font-size: 16px;
        margin-top: 8px;
    }
    .profile-click{
        margin-top: 8px;
    }

    .product-outer-wrapper {
        flex-direction: column;
        padding: 0;
        width: 90vw;
        margin-bottom: 36px;
    }

    .product-images {
        width: 90vw;
        margin-top: -18px;
    }

    .product-title{
        line-height: 42px;
        margin-bottom: 8px;
    }

    .product-info {
        width: 100%;
        font-size: 16px;
    }

    .product-detail-div {
        flex-direction: column;
    }

    .product-details>p {
        margin: 0;
        margin-top: 8px;
        font-size: 16px;
    }

    .product-contact>p {
        margin-top: 8px;
        font-size: 16px;
    }

    .product-price {
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: right;
        border-radius: 4px;
        padding: 8px 12px;
        font-size: 36px;
        margin-top: 24px;
    }

    .product-inline{
        flex-direction: column;
    }
}