.profile-page-outer-wrapper{
    width: 100%;
    max-width: 1264px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px auto;
    padding: 0 32px;
    box-sizing: border-box;
    height: fit-content;
}

.profile-page-wrapper-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.logout-button{
    width: fit-content;
    background-color: black;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    margin-top: 16px;
}

.logout-button:hover{
    background-color: red;
}

.logout-button-text{
    margin: 0;
    color: white;
    font-weight: bold;
}

.profile-page-listing-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
}

.new-listing-page-title-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.new-listing-page-title.unselected{
    color: gray;
}

.cursor-pointer{
    cursor: pointer;
}

.favheadingtitle{
    padding-left: 16px;
    padding-right: 16px;
}

.profile-rating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    margin-top: 32px;
}

.rating-button:hover{
    background-color: black !important;
}

@media screen and (max-width: 1200px) {
    .profile-page-listing-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .profile-rating{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .profile-page-listing-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .new-listing-page-title.unselected{
        padding-left: 0;
    }
    .favheadingtitle{
        padding: 0;
    }
    .profile-page-outer-wrapper, .profile-page-wrapper-inner{
        width: 90vw;
    }
}

.profile-rating-mine{
    margin-top: 36px;
    margin-bottom: -12px;
}

@media screen and (max-width: 590px) {
    .profile-rating{
        grid-template-columns: repeat(1, 1fr);
    }
}