.profile-page-outer-wrapper{
    width: 100%;
    max-width: 126.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.2rem auto;
    padding: 0 3.2rem;
    box-sizing: border-box;
    height: fit-content;
}

.profile-page-wrapper-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.logout-button{
    width: fit-content;
    background-color: black;
    border-radius: 0.4rem;
    padding: 0.8rem;
    cursor: pointer;
    margin-top: 1.6rem;
}

.logout-button:hover{
    background-color: red;
}

.logout-button-text{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
}

.profile-page-listing-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.8rem;
}

.new-listing-page-title-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.new-listing-page-title.unselected{
    color: gray;
}

.cursor-pointer{
    cursor: pointer;
}

.favheadingtitle{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.profile-rating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.4rem;
    margin-top: 3.2rem;
}

.rating-button:hover{
    background-color: black !important;
}

@media screen and (max-width: 1200px) {
    .profile-page-listing-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .profile-rating{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .profile-page-listing-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .new-listing-page-title.unselected{
        padding-left: 0;
    }
    .favheadingtitle{
        padding: 0;
    }
    .profile-page-outer-wrapper{
        width: 90vw !important;
    }
    .profile-page-wrapper-inner{
        width: 90vw !important;
    }
}

.profile-rating-mine{
    margin-top: 3.6rem;
    margin-bottom: -1.2rem;
    font-size: 2.4rem;
}

.profile-page-button-container{
    display: flex;
    gap: 0.4rem;
}

@media screen and (max-width: 590px) {
    .profile-rating{
        grid-template-columns: repeat(1, 1fr);
    }
}