.new-rating-page{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    overflow: hidden;
    z-index: 99999999;
}

.new-rating-container{
    width: 600px;
    height: fit-content;
    background-color: white;
    border-radius: 4px;
    z-index: 999999999;
    padding: 16px;
    box-sizing: border-box;
}

.new-rating-form-text{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.new-rating-form-input-label{
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    margin-top: 8px;
}

.new-rating-form-input{
    width: 100%;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
    resize: none;
    border-radius: 4px;
    height: 160px;
    margin-top: 4px;
    border: 1px dashed gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.new-rating-form-input:focus{
    border: 1px dashed black;
    outline: 1px dashed black;
}

.new-rating-form-number{
    background-color: rgb(216, 216, 216);
    border-radius: 4px;
    width: 100%;
    height: 8px;
    margin-top: 16px;
}

.new-rating-form-stars{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 100%;
    margin-left: 2px;
    color: black;
    font-size: 20px;
}

.new-rating-add-button{
    width: 100%;
    height: 42px;
    border-radius: 4px;
    background-color: gold;
    font-weight: bold;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    border: 0;
    outline: 0;
    color: black;
}

.new-rating-add-button:hover{
    cursor: pointer;
    transition: 200ms;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.inline-rating-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
}

.new-rating-x{
    color: gray;
    cursor: pointer;
}

.gold {
    color: gold;
}

@media screen and (max-width: 768px) {
    .new-rating-container{
        width: 90vw;
    }
    .new-rating-x{
        align-self: last baseline;
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 361px) {
    .new-rating-container{
        width: 90vw;
    }
    .new-rating-x{
        align-self: first baseline;
        margin-top: 4px;
    }
}