.catalog-container{
    width: 100%;
    max-width: 120rem;
    height: fit-content;
    margin-top: 2.4rem;
    display: flex;
    margin: 0 auto;
    margin-top: 2.4rem;
    border-radius: 0.4rem;

}

.catalog-grid{
    display: grid;
    height: fit-content;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem 0.8rem;
}

@media screen and (max-width: 1200px) {
    .catalog-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .catalog-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .catalog-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 0.8rem;
    }
}
