.catalog-container{
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    margin-top: 24px;
    display: flex;
    margin: 0 auto;
    margin-top: 24px;
    border-radius: 4px;

}

.catalog-grid{
    display: grid;
    height: fit-content;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 8px;
}

@media screen and (max-width: 1200px) {
    .catalog-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .catalog-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .catalog-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}
