.filter-el-wrapper {
    position: relative;
    padding-bottom: 4px;
    user-select: none;
}

.filter-el {
    height: fit-content;
    min-height: 64px;
    width: auto;
    background-color: rgb(232, 232, 232);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    cursor: pointer;
    user-select: none;
}

.filter-el:hover {
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}

.filter-el-title {
    color: black;
    font-weight: bold;
}

.filter-el-dropdown {
    position: absolute;
    top: calc(100% + 0px);
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: rgb(232, 232, 232);
    display: none;
    border-radius: 4px;
}

.dd-shown {
    display: block;
    z-index: 10;
}

.dropdown-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radius-km{
    width: 80%;
    height: 36px;
    margin: 12px;
    font-size: 16px;
    text-align: center;
    border: 0;
    outline: 0;
    background-color: transparent;
}

.price-range-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.price-range-container > input{
    width: 30%;
    height: 36px;
    margin: 12px;
    font-size: 16px;
    text-align: center;
    border: 0;
    outline: 0;
    background-color: transparent;
}