.filter-active-el{
    display: flex;
    height: 3.2rem;
    width: fit-content;
    align-items: center;
    background-color: rgb(232, 232, 232);
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    justify-content: space-between;
    font-weight: normal;
    margin: 0.2rem;
}

.filter-active-el:hover{
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}

.filter-active-text{
    margin-right: 1.4rem;
    font-weight: normal;
    font-size: 1.6rem;
}

.filter-active-x{
    font-size: 1rem;
    padding-right: 0.2rem;
}
