.filter-container {
  width: 100%;
  height: fit-content;
  max-width: 120rem;
  margin-top: 3.6rem;
  display: grid;
  align-items: center;
  border-radius: 0.4rem;
  box-sizing: border-box;
  padding: 0;
  margin-left: -0.2rem;
  margin-right: -0.2rem;

  grid-template-columns: repeat(4, 1fr);
  gap: 0 0.4rem;
}

.active-filters-container{
  width: 100%;
  max-width: 120rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.2rem;
}

@media screen and (max-width: 768px) {
  .filter-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .active-filters-container{
    width: 90vw;
    align-self: center;
    margin-top: 1.6rem
  }
}
