.filter-button-wrapper{
    width: 12.8rem;
    height: 4rem;
    background-color: gold;
    color: black;
    border-radius: 0.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    margin-left: 0.2rem;
    margin-top: 0;
    align-self: center;
    font-size: 1.6rem;
}

.filter-button-wrapper:hover{
    cursor: pointer;
    transition: 200ms;
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .filter-button-wrapper{
        margin-left: 0.2rem;

    }
}