.outer-footer{
    width: 100%;
    height: fit-content;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px dashed gray;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    padding: 64px 24px;
}

.footer-socials{
    display: flex;
    flex-direction: row;flex: 1;
    flex-basis: 0; 
    align-items: center;
    justify-content: space-around;
    font-size: 48px;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    flex-basis: 0;
    height: 100%;
    align-items: center;
}

.footer-contact > p{
    margin: 0;
    color: gray;
}

.footer-about{
    text-align: center;
    display: flex;
    flex-direction: column;flex: 1;
    flex-basis: 0; 
}

.footer-about > P{
    margin: 0;
    color: gray;
}

@media screen and (max-width: 768px){
    .outer-footer{
        flex-direction: column;
    }

    .footer-contact{
        width: 90vw;
        margin-bottom: 48px;
    }
    
    .footer-socials{
        width: 90vw;
        margin-bottom: 48px;
    }
    
}