.listing-container{
    width: 100%;
    height: fit-content;
    background-color: rgb(240, 240, 240);
    border-radius: 0.4rem;
    transform: scale(1);
    transition: 200ms;
    padding: 0 0.8rem;
    box-sizing: border-box;
}

.listing-container:hover{
    transform: scale(1.02);
    transition: 200ms;
    z-index: 1;
    background-color: rgb(232, 232, 232);
    cursor: pointer;
}

.listing-title > p, .listing-desc > p, .listing-price > p, .listing-photo{
    padding: 0;
    margin: 0;
}

.listing-title{
    font-size: 1.6rem;
    margin-top: 1.2rem;
    color: black;
    font-weight: bold;
}

.listing-photo{
    margin-left: -0.8rem;
    height: 18rem;
    width: calc(100% + 1.6rem);
    display: flex;
    justify-content: center;
}

.listing-photo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0 0;
}

.listing-desc{
    font-size: 1.6rem;
}

.listing-price{
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 0.8rem;
}

@media screen and (max-width: 900px) {
    .listing-photo{
        height: 28rem;
    }
    .listing-title{
        font-size: 1.4rem;
    }
    .listing-price{
        font-size: 1.6rem;
    }
}
