.login-widget-wrapper {
    width: fit-content;
    padding: 1.6rem;
    height: fit-content;
    position: fixed;
    display: flex;
    background-color: #ffffff;
    z-index: 10000;
    top: 6.4rem;
    right: -28rem;
    border-radius: 0.4rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.login-widget-text-container {
    width: 24rem;
    text-align: center;
}

.login-widget-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.login-widget-desc {
    font-size: 1.6rem;
    margin-top: 0.4rem;
    color: #555555;
}

.login-widget-title>p,
.login-widget-desc>p {
    margin: 0;
    padding: 0;
}

.login-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
}

@keyframes showWidget{
    from{
        right: -28rem;
    }to{
        right: 1.2rem;
    }
}

@keyframes hideWidget{
    from{
        right: 1.2rem;
    }to{
        right: -28rem;
    }
}

.login-widget-wrapper.shown{
    right: 1.2rem;
    animation: showWidget 200ms;
}

.login-widget-wrapper.hidden{
    right: -28rem;
    animation: hideWidget 200ms;
}