.more-button-container{
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
}

.more-button-outer{
    width: 12.8rem;
    height: 4rem;
    background-color: gold;
    color: black;
    border-radius: 0.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    margin-left: 0.2rem;
    margin-top: 0rem;
    align-self: center;
    margin-top: 3.6rem;
    font-size: 1.6rem;
}

.more-button-outer:hover{
    cursor: pointer;
    transition: 200ms;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(0,0,0,0.75);
}