.more-button-container{
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
}

.more-button-outer{
    width: 128px;
    height: 40px;
    background-color: gold;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    margin-left: 2px;
    margin-top: 0px;
    align-self: center;
    margin-top: 36px;
}

.more-button-outer:hover{
    cursor: pointer;
    transition: 200ms;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}