.no-listing{
    width: 100%;
    height: 280px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    border-radius: 4px;
    border: 1px dashed gray;
    text-align: center;
    padding: 16px;
    box-sizing: border-box;
}

.no-listing-text{
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
    color: black;
}