.no-listing{
    width: 100%;
    height: 28rem;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.2rem;
    border-radius: 0.4rem;
    border: 0.1rem dashed gray;
    text-align: center;
    padding: 1.6rem;
    box-sizing: border-box;
}

.no-listing-text{
    font-size: 1.6rem;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
    color: black;
}