.rating-card-wrapper{
    width: 100%;
    min-height: 6.4rem;
    height: fit-content;
    background-color: rgb(232, 232, 232);
    border-radius: 0.4rem;
    padding: 1.2rem;
    box-sizing: border-box;
}

.buttons-together{
    display: flex;
    font-size: 1.4rem;
    gap: 0.4rem;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 2.4rem !important;
}

.rating-card-inline{
    display: flex;
    font-weight: bold;
    font-size: 1.6rem;
}

.rating-card-stars{
    margin-left: 1.2rem;
}

.rating-card-desc > p{
    margin: 0;
    margin-top: 0.4rem;
    font-size: 1.6rem;
}

.rating-card-date > p{
    margin: 0;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    color: gray;
}

.inline-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.4rem;
}

.rating-card-delete{
    background-color: black;
    color: white !important;
    font-weight: bold;
    padding: 0.4rem;
    cursor: pointer;
    height: fit-content;
}

.rating-card-delete:hover{
    background-color: red;
}

