.profile-listing-wrapper{
    border-radius: 0.4rem;
    margin-top: 3.2rem;
}

.profile-listing-container{
    background-color: rgb(240, 240, 240);
    transform: scale(1.0);
    transition: 200ms;
}

.profile-listing-container:hover{
    transform: scale(1.02);
    transition: 200ms;
    z-index: 1;
    background-color: rgb(232, 232, 232);
    cursor: pointer;
}

.profile-listing-photo > img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.profile-listing-text > p{
    margin: 0.2rem 0;
    margin-left: 0.4rem;
    font-size: 1.6rem;
}

.profile-listing-delete-button{
    width: 100%;
    height: 3.6rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    font-size: 1.6rem;
}

.profile-listing-delete-button:hover{
    cursor: pointer;
    background-color: red;
}

.profile-listing-delete-button-text{
    color: white;
    font-weight: bold;
    margin: 0;
}

.profile-listing-text-right{
    margin-left: 0.4rem;
}

.user-visit-listing{
    padding-bottom: 0.4rem;
}