.rep-user-outer{
    background-color: rgb(240, 240, 240);
    transform: scale(1.0);
    transition: 200ms;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rep-user-outer:hover{
    transform: scale(1.005);
    transition: 200ms;
    z-index: 1;
    background-color: rgb(232, 232, 232);
    cursor: pointer;
}

.rep-user-content{
    padding: 1.2rem;
    box-sizing: border-box;
}

.rep-user-name{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 0;
    margin: 0;
    margin-top: 0.4rem;
}

.rep-user-reason{
    font-size: 1.6rem;
    margin: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.rep-user-buttons{
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.gold{
    color: gold;
}

.rating-card-stars{
    margin-left: 0;
    font-size: 1.4rem;
    display: flex;
    gap: 0.2rem;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
}